* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(131, 101, 101);
    width: 100%;
    padding: 15px;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content:center
}
.image {
    background-color: rgb(73, 55, 55);
}
.image img {
    border: 1px solid;
    width: 600px;
    height: 600px;
    
}

.buttons {
    text-align: center;
}

.buttons button {
    padding: 15px;
    width: 300px;
}